<br>
<br>
<br>
  <!--start: Container -->
  <div class="container">
    <!-- start: Page Title -->
    <div id="page-title">
      <h2><%= @list.title %></h2>
    </div>
    <!-- end: Page Title -->
    <!--start: Wrapper-->
    <div id="wrapper">
      <!--start: Row -->
      <div class="row-fluid">
      
        <div class="posts span8">

          <!-- start: Post -->
          <div class="post first last">
              
            <div class="post-img picture">
              <img src="img/heaven.jpg" alt="" />
            </div>
            <div class="info">
              <span class="post-date">
                <span class="month-year"><%= @list.created_at.strftime("%b %d %Y") %></span>
              </span>
            </div>
            <div class="post-content">
              <div class="post-title">
                <h2><%= @list.title %></h2>
              </div>
              <div class="post-meta">
                <span><i class="icon-user"></i><%= link_to @list.user.first_name, user_path(@list.user) %></span> 
                <span><i class="icon-comments-alt"></i>With #POKES/RELISTS</span>
              </div>
            </div>
          </div>
          <!-- end: Post -->
          <hr>
          <%= link_to "Delete List", user_list_path(current_user, @list), :method => :delete %>
          <div class="clearfix"></div>
        </div>  
    
        <!-- start: Sidebar -->

        <div class="span4 sidebar hidden-phone">

        <!-- start: Popular Photos -->
        <div class="widget first">
          <div class="title"><h3>People</h3></div>

          <div class="flickr-widget">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&size=s&layout=x&source=user&user=29609591@N08"></script>
            <div class="clear"></div>
          </div>

        </div>
        <!-- end: Popular Photos -->

        <!-- start: Sidebar Menu -->
        <div class="widget">
          <h3>Favorites</h3>
          <ul class="links-list-alt">
            <% @list.favorites.each_with_index do |fav, i| %>
            <li><a href="full_width.html"><%= i + 1%>. <%=fav.name %>: <%=fav.description%>
            <% if @list.user == current_user %>
              <%= link_to "x", list_favorite_path(@list, fav.id), :method => :delete %>
              <%= link_to "edit", edit_list_favorite_path(@list, fav.id) %></a></li>
            <% else %>
              <%= link_to "UpPoke", poke_path(fav) %>
              <%= link_to "ReList", relist_path(fav) %></a></li>
            <% end %>
            <% end %>
            <li> <h3>Add a new favorite</h3> 
              <%= form_for ([@list, Favorite.new]) do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name %>
                <%= f.label :description %>
                <%= f.text_field :description %>
                <%= f.file_field :favorite_image %><br>
                <%= f.submit %>
              <% end %></li>
          </ul>
        </div>

        <!-- end: Sidebar Menu -->

        <!-- start: Tags -->
        <div class="widget last">
          <div class="tags">
            <a href="#">Tag1</a>
            <a href="#">Tag2</a>
            <a href="#">Tag3</a>
            <a href="#">Tag4</a>
            <a href="#">Tag5</a>
            <a href="#">Tag6</a>
            <a href="#">Tag7</a>
            <a href="#">Tag8</a>
            <a href="#">Tag9</a>
            <a href="#">Tag10</a>
            <a href="#">Tag11</a>
            <a href="#">Tag12</a>
          </div>
        </div>
        <!-- end: Tags -->

      </div>
      <!-- end: Sidebar -->
      
      </div>
      <!--start: Row -->
  
    </div>
    <!-- end: Wrapper  -->
  
  </div>
  <!--end: Container-->     


<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.imagesloaded.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/carousel.js"></script>
<script src="js/jquery.cslider.js"></script>
<script src="js/slider.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/twitter.js"></script>
<script src="js/jquery.placeholder.min.js"></script>

<script src="js/jquery-easing-1.3.js"></script>
<script src="js/layerslider.kreaturamedia.jquery.js"></script>

<script src="js/excanvas.js"></script>
<script src="js/jquery.flot.js"></script>
<script src="js/jquery.flot.pie.min.js"></script>
<script src="js/jquery.flot.stack.js"></script>
<script src="js/jquery.flot.resize.min.js"></script>

<script defer="defer" src="js/modernizr.js"></script>
<script defer="defer" src="js/retina.js"></script>
<script defer="defer" src="js/custom.js"></script>
<!-- end: Java Script -->

