
<% current_user.user_friends_lists.flatten.each do |list| %>
  <%= link_to "#{list.title} by #{list.user.first_name}", user_list_path(list.user, list) %>
<% end %>
<br>

<div class="container">
  <div class="row-fluid add-list">
    <div class="create-list">
      <div class="add-list-icon"></div>
      <div class="other">
     <h1><%= link_to "Create a new list", "#createlist",class: "fancybox" %></h1>
     <div style="display:none;">
       <div id="createlist">
        <%= render 'shared/create_list' %>
      </div>
    </div>
      </div>
   </div>
   <div class="about-list">What's your new favorite?
  </div>
  </div>
</div>

<div class="container"><div class="row-fluid add-line"></div>
</div>

  <!--start: Container -->
  <div class="container">
        
    <!--start: Wrapper-->
    <div id="wrapper">
    
      <!-- start: Wall -->
      <div id="wall" class="row-fluid">

        <% List.all.each do |list| %>
        <div class="span3 item">
          <div class="picture">
            <a class="image" href="/users/<%=list.user.id%>/lists/<%=list.id%>" title="Title">
              <%= image_tag(list.favorites.first.favorite_image, width:'200', height:'300', class: "product-img img-responsive")%></a>
            <div class="description">
              <p>
                "<%= list.title %>" from <%=list.user.first_name %> <br>
                <%= list.favorites.first.name %>: <%= list.favorites.first.description %>
              </p>
            </div>
            <div class="meta">
              <span><i class="icon-calendar"></i><%= list.created_at.strftime("%b %d %Y") %></span>
              <span><i class="icon-user"></i> <a href="#"><%=list.user.first_name %></a></span>
              <span><i class="icon-heart-empty"></i><%= list.get_list_influence %></span>
            </div>
          </div>
        </div>
        <% end %>


      </div>
      <!-- end: Wall -->        
          
    </div>
    <!--end: Container-->
  
  </div>
  <!-- end: Wrapper  -->   

<%= render "shared/footer" %> 


