<div class="container">
  <div class="row-fluid">
    <div class="add-thin-line">
    </div>
    <center><div class="profile-page-pic"><%= image_tag(@user.user_image, :class => "profile-pic") %></center>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="user-stats">
      <div class="span2"><h4 class="stats"># Lists: <%= @lists.count %></h4></div>
      <div class="span2"><h4 class="stats"># Favorites: <%= @favorites_count %> </h4></div>
      <div class="span2"><h4 class="stats"># Upvotes: <%= @lists.last.favorites.first.influence.tabulate_score %></h4></div>
      <div class="span2"><h4 class="stats"># Relists:</h4></div>
    </div>
  </div>
</div>
<br>
<br>



  <!--start: Container -->
  <div class="container">
        
    <!--start: Wrapper-->
    <div id="wrapper">
    
      <!-- start: Wall -->
      <div id="wall" class="row-fluid">

        <% @lists.each do |list| %>
        <div class="span3 item">
          <div class="picture">
            <a class="image" href="/users/<%=list.user.id%>/lists/<%=list.id%>" title="Title">
              <%= image_tag(list.favorites.first.favorite_image, width:'200', height:'300', class: "product-img img-responsive")%></a>
            <div class="description">
              <p>
                "<%= list.title %>" from <%=list.user.first_name %> <br>
                <%= list.favorites.first.name %>: <%= list.favorites.first.description %>
              </p>
            </div>
            <div class="meta">
              <span><i class="icon-calendar"></i><%= list.created_at.strftime("%b %d %Y") %></span>
              <span><i class="icon-user"></i> <a href="#"><%=list.user.first_name %></a></span>
              <span><i class="icon-heart-empty"></i><%= list.get_list_influence %></span>
              <% if current_user == @user %>
                  <%= link_to "edit", edit_user_list_path(current_user, list) %>/
                  <%= link_to "delete", user_list_path(current_user, list), :method => :delete %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>


      </div>
      <!-- end: Wall -->        
          
    </div>
    <!--end: Container-->
  
  </div>
  <!-- end: Wrapper  --> 