<div class="add-favorite">

<div class="span5">
    <h3 class="add-favorite-text"> Add a Favorite to your "<%=@list.title %>" list </h3>
    <br>
    <%= form_for ([@list, Favorite.new]) do |f| %>
      <%= f.label :name_of_favorite %>
      <%= f.text_field :name %>
      <%= f.label :describe_it! %>
      <%= f.text_field :description %>
      <%= f.file_field :favorite_image %><br>
      <%= f.submit "Add this favorite", :class => "btn btn-default" %>
    <% end %>
</div>

  <div class="pic-strip">
  </div>

</div>


</div>