<h1> New List </h1>

<p>
<%= form_for ([current_user, List.new]) do |f| %>
  <%= f.label :name %>
  <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Select a category" %>
  or create one: 
  <%= f.text_field :new_category_name %>
</p>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>