<div class="create-list-box">
  <div class="create-list-div">
    <span class="logo-pull-right"><%= image_tag('logo.jpg', width: '45', height: '45')%></span>
    <h1 class="add-favorite-text"> Make a New List </h1>

  <div class="span1">
  </div>

  <br>
  <br>
    <%= form_tag lists_path, role: "form" do -%>  

      <div class="form-group">
        <h3 class="label-text-bold"><%= label_tag "What will this list be called?" %></h3>
        <%= text_field_tag "list[title]", nil, class: "form-control", required: "required", placeholder: "Title" %>
      </div>

      <div id="triggers" class="form-group">
        <h3 class="label-text-bold"><%= label_tag "What are the favorites?" %></h3>
        <p class="trigger">
          <input name="triggers[][name]" type="text" placeholder="A new favorite" class="form-control trigger-box">
          <input name="triggers[][description]" type="text" placeholder="How would you describe it?" class="form-control trigger-box">
          <input name="triggers[][image]" type="file" placeholder="Upload an image" class="form-control trigger-box">
        <button class="add-trigger btn btn-default btn-sm" type="button">+</button ></p>
      </div>

      <div class="form-group text-center">
        <%= submit_tag "Make this list", class: "btn btn-default" %>
      </div>

    <% end %>
</div>
</div>