<!DOCTYPE html>
<html>
<head>
  <title>AtlistApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= link_to "Logged in as #{current_user.first_name}", "#" %>
  <%= current_user.email %>
  <%= image_tag(current_user.user_image) %>
  <%= link_to "my home page", user_path(current_user) %>
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to "Sign Up", "/auth/facebook" %>
  <%= link_to "Log In", "/auth/facebook" %>
<% end %>

<%= yield %>

</body>
</html>
